extends layout

block content
	div.container
		div.container
		h1 DeLiken' #{showurl}  
			form(name="input", action="/overit", method="post")
				input(type="hidden", name="url", value="#{showurl}")
				button.btn.btn-primary(type="submit")
					span.glyphicon.glyphicon-thumbs-down
		//Main hero unit for a primary marketing message or call to action
		div.hero-unit
			img(src='http://api.screenshotmachine.com/?key=1f93e1&size=L&url=#{showurl}&format=PNG')

		h1 Who's over #{showurl} anyway?


		p
		//.hero-unit
		//Example row of columns
		div.row
			div.span6
				- var Tdata = JSON.parse(usrDElikes)
				- each result in Tdata
					- var user = result.user
					- var url = result.img
					a(href='/p/#{user}')
						img(src='#{url}', height='40px', width='40px')
		div.row
			div.span6
				h2 Other Sites you Might DeLike:
				//p #{usrDElikes}
				p
					a.btn(href="#")="View details &raquo;"
		div.row
			div.span6
				h2 What are People saying about #{showurl}

				//p #{usrDElikes}
					a.btn(href="#")="View details &raquo;"
		//.row
